html, body {
    height: 100%;
    color: black;
}

.container {
	height: 70%;
}
.row{
	height: 100%;
}

.main{
	background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height: 96%;
}

hr.loginSeparator{
	border: 1px solid #ced4da;
  	border-radius: 1px;
}